  <style>
  div.menu {
    background-color: yellow;
    width: 100px;
    height: 100px;
  }
  body{
    width: 1200px;
  }
  nav {
    background-color: black;
    color: white;
  }
  nav a {
  color: white ;
  }
  table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: middle;
  }
  th#t01{
    background-color: lightgreen;
  }
  th#t02{
    background-color: lightblue;
  }
  table{
    width: 50%;
    height: 50%;
    float: right;
    padding: 20px;
    width: 100%;
    background-color: #ffffff;
  }
  header{
  }
  article{
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #ffffff;
  }
  section{

  }
  section:after {
  content: "";
  display: table;
  clear: both;
}
  </style>
